<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aadityatiwari.myandroidtutorialproject"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartingPoint"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.aadityatiwari.myandroidtutorialproject.STARTINGPOINT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Launcher Activity - BEGINS -->
        <activity
            android:name=".Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Launcher Activity - ENDS -->

        <activity
            android:name=".Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.aadityatiwari.myandroidtutorialproject.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextPlay"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Email"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Camera"
            android:label="@string/cameraApp"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RelativeLayoutGetData"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LinearLayoutSendData"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>